<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomek.moodestimation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.Core"
        android:allowBackup="true"
        android:icon="@drawable/start_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Platform.AppCompat.Light">
        <activity android:name=".activities.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignInActivity" />
        <activity android:name=".activities.TasksActivity" />
        <activity android:name=".activities.TestsListActivity" />
        <activity android:name=".activities.CurrentTestActivity" />
        <activity android:name=".activities.UnsignedTestsActivity" />
        <activity android:name=".activities.StatisticsActivity" />
        <activity android:name=".activities.SelectedCategoryStatisticsActivity" />
        <activity android:name=".activities.RegisterActivity"></activity>
    </application>

</manifest>